<div class="form">

    <div class="container">
        <h3>Informações Principais</h3>
        <div class="product_info">
    
            <div class="product">
                <form action="POST">

                    <mat-slide-toggle checked="{{product.status}}" color="primary" [(ngModel)]="product.status" [ngModelOptions]="{standalone: true}">Status</mat-slide-toggle>
                    <br><br>

                    <label for="name">Nome do produto: </label>
                    <br>
                    <input type="text" name="name" [(ngModel)]="product.product_name" maxlength="150" placeholder="Digite o nome do produto"  [ngModelOptions]="{standalone: true}">
                    <br>
                    <label for="inventory">Estoque: </label>
                    <br>
                    <input type="number" name="inventory" [(ngModel)]="product.inventory" [ngModelOptions]="{standalone: true}">
                    <br>
                    <label for="price">Valor do produto: </label>
                    <br>
                    <input name="price" type="text" class="example-right-align" [(ngModel)]="product.price"  [ngModelOptions]="{standalone: true}">
                    <br>
                    <label for="desc">Descrição: </label>
                    <br>
                    <textarea name="desc" [(ngModel)]="product.product_desc" maxlength="200" [ngModelOptions]="{standalone: true}"></textarea>
                </form>
                
            </div>
            <div class="images">
                <label for="img">Selecione uma imagem (jpg, png, jpeg): </label>
                <br>
                <img width="100" alt="Previa da imagem" />
                <br>
                <input type="file" name="img" [(ngModel)]="product.product_image" (change)="previewFile($event)" accept="image/png, image/jpeg, image/jpg">
            </div>
        </div>
    
        <div class="actions">
            <button mat-raised-button class="btnSaveProduct" (click)="createProduct()">Cadastrar</button>
            <button mat-raised-button  class="btnCancelProduct" routerLink="/product">Cancelar</button>
        </div>
    </div>
</div>