.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    color: black;
}

img, .info {
    flex: 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 40px;
}

.btnEditProduct {
    background-color: #4169E1;
    font-weight: bold;
}

.btnDeleteProduct {
    background-color: #FF6347;
    font-weight: bold;
}

.alert {
    font-size: 15px;
    color: rgb(202, 73, 73);
}

.actions {
    margin: 10px;

}

.actions > button {
    margin: 10px;
}

hr {
    border: solid 1px #e9e9e9;
    margin: 5px 0px;
    margin-right: 25%;
}

.desc {
    color: #808080;
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
}