.nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border: solid 2px black;
}

.nav-options > a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

